@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

.reset() {
    padding: 0;
    margin: 0;
}

@header-font-color: #eee;
@content-font-color: #222;
@theme-color: #3b97d3;

body {
    font-size: 12px;
    font-family: 'Droid Sans', sans-serif;
    background-color: #fff;
}

img {
    pointer-events: none;
}

/* ## Main Header ## */

.header-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.video-wrapper {
    width: 100%;
    height: 510px;
    overflow: hidden;

    video {
        margin-top: -100px;
        pointer-events: none;
        background-color: #474b55;
    }
}

.header-overlay {
    z-index: 1;
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}

.navbar-collapse {
    text-align: center;
    border-top: 0;
    background: none;

    ul {
        border: none;
    }
}

.navbar-toggle {
    border: none;
}

.navbar-header {
    .reset();
    padding-top: 15px;
    padding-bottom: 20px;
}

.navbar-brand {
    .reset();
    padding: 4px 0 4px 10px;

    img {
        height: 50px;
    }
}

.navbar-nav {
    .reset();
    margin: 20px 0 15px 0;
    position: relative;

    li {
        padding: 0 3px;
        border-bottom: 2px solid;
        border-color: transparent;
        -webkit-transition: border-color 1s ease;
        -moz-transition: border-color 1s ease;
        -o-transition: border-color 1s ease;
        transition: border-color 1s ease;

        &:hover {
            border-color: @theme-color;
        }

        a {
            font-size: 18px;
            color: @header-font-color !important;
        }
    }
}

#header-content {
    margin-top: 45px;
    color: @header-font-color;
    width: 100%;
    height: 10px;
    text-align: center;

    h1 {
        font-size: 85px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    h2 {
        .reset();
        font-size: 35px;
    }

    .interests {
        font-size: 25px;

        .rotate {
            color: @theme-color;
            font-weight: 700;
        }
    }

    ul {
        .reset();
        list-style-type: none;
        margin-top: 40px;

        li {
            display: inline-block;
            margin: 25px 10px;

            a {
                text-decoration: none;
                font-size: 22px;
                color: @header-font-color;
                border: 2px solid @theme-color;
                padding: 17px;
                background-color: transparent;
                -webkit-transition: background-color 1s ease;
                -moz-transition: background-color 1s ease;
                -o-transition: background-color 1s ease;
                transition: background-color 1s ease;

                &:hover {
                    background-color: fade(@theme-color, 40%);
                }
            }
        }
    }
}

/* ## Home Content ## */
.content-wrapper {
}

.content-col {
    margin: 25px 0;
    text-align: center;

    img {
        width: 48%;
        margin: 10px auto 25px auto;
    }

    p {
        font-size: 16px;
        padding: 13px;
        padding-bottom: 0;
    }
}

.github-stats {
    background-color: @theme-color;
    text-align: center;
    vertical-align: central;

    .github-status-container {
        padding: 15px;
        color: @header-font-color;

        img {
            height: 60%;
            width: 60%;
        }

        p {
            .reset();
            margin-top: 9px;
            display: inline-block;
            font-weight: 700;
            font-size: 20px;
        }
    }
}

/* ## Querries ## */

@media screen and (max-width: 380px) {
    .navbar {
        padding-top: 12px;

        .navbar-brand {
            img {
                height: 41px !important;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .video-wrapper {
        height: 560px !important;
    }
}

@media screen and (max-width: 539px) {
    .video-wrapper {
        height: 600px !important;
    }
}

@media screen and (max-width: 474px) {
    .video-wrapper {
        height: 815px !important;
    }

    .interests {
        margin-top: 25px;
    }
}

@media screen and (max-width: 384px) {
    .video-wrapper {
        height: 935px !important;
    }

    .interests {
        margin-top: 25px;
    }
}
