<header class="header-wrapper">
    <div class="video-wrapper">
        <video preload="auto" loop="" autoplay="">
            <source src="~/Videos/mountains.webm" type="video/webm" />
            <source src="~/Videos/mountains.mp4" type="video/mp4" />
        </video>
    </div>
    <div class="header-overlay">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/Images/Main/Logo-White.png" class="img-responsive" alt="Stev3n Logo" /></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Contact me", "Index", "Contact")</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" id="header-content">
            <h1>Hey there!</h1>
            <h2>My name is Steven Tsvetkov and I'm a developer in training.</h2>
            <p class="interests">I'm interested in many things, such as <span class="rotate">Web Development, UX and UI Design, Linux Server Administration, Mobile Development, Penetration Testing, Entrepreneurship, Cloud Technologies </span></p>
            <ul class="buttons">
                <li><a href="https://github.com/Stev3nT" target="_blank">Github Projects</a></li>
                <li><a href="http://stackoverflow.com/users/3666995/stev3n" target="_blank">Stack Overflow</a></li>
            </ul>
        </div>
    </div>
</header>
