@model InfinityBlog.Web.Models.BaseViewModel

<div class="content-wrapper container">
    <div class="row">
        <div class="col-md-4 content-col">
            <img src="~/Images/Misc/studies.png" alt="Test" class="img-responsive" />
            <h1>Studies</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in leo sodales, pulvinar erat finibus, auctor tortor. Curabitur nec maximus erat. Morbi non gravida nunc, ac dictum dui. Aenean auctor imperdiet elit eget hendrerit. Praesent pulvinar, justo quis cursus vestibulum, nunc metus venenatis nibh, et facilisis tortor nulla sit amet leo.
            </p>
        </div>
        <div class="col-md-4 content-col">
            <img src="~/Images/Misc/studies.png" alt="Test" class="img-responsive" />
            <h1>Plans</h1>
            <p>
                Mauris quis urna at nisi scelerisque tempor. Donec id dui in mauris vehicula posuere eu sit amet nisi. Vestibulum fringilla efficitur eros quis tincidunt. Pellentesque ut quam dui. Etiam ornare ligula ac gravida pellentesque. Nulla facilisi. Quisque vitae orci purus. Pellentesque eu venenatis nibh, vitae lacinia sapien.
            </p>
        </div>
        <div class="col-md-4 content-col">
            <img src="~/Images/Misc/studies.png" alt="Test" class="img-responsive" />
            <h1>Goals</h1>
            <p>
                Vestibulum id gravida eros, condimentum scelerisque ex. Sed elementum lectus in ante varius mollis. Phasellus dignissim metus vestibulum, ultrices orci id, vestibulum justo. Fusce viverra pretium ipsum id varius. Nulla quis orci massa. Quisque ultrices eleifend nisi et ornare. Sed dui turpis, placerat sodales lobortis vel, hendrerit nec quam. Nullam nec quam ex.
            </p>
        </div>
    </div>
</div>
<div class="container-fluid github-stats">
    <div class="container github-status-container">
        <div class="col-md-3"><img src="~/Images/Misc/github.png" alt="Alternate Text" /></div>
        <div class="col-md-3"><p>Writter lines of code: 231k</p></div>
        <div class="col-md-3"><p>Total commits: 215</p></div>
        <div class="col-md-3"><p>Open Source Projects: 14</p></div>
    </div>
</div>
